.bodyPage {
	background-color: rgba(156, 1, 1, 0.384);
	background-image: url("ảnh/513acc274fc984987142326abe4d5452.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body {
	display: flex;
	margin-top: 55px;
	flex-direction: column;
	height: 500px;
	width: 500px;
	border-radius: 20px;
	background-color: #0000006b;
	text-align: center;
	align-items: center;
}

#chữ {
	color: seashell;
	margin-bottom: 20px;
	margin-top: 30px;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bolder;
	font-size: 60px;
	text-shadow: 3px 2px #df4949;
}

#chữ2 {
	margin-top: 15px;
	color: white;
	font-size: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: underline;
}

.buttonĐN {
	position: relative;
	overflow: hidden;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	height: 50px;
	width: 300px;
	border-radius: 25px;
	border-color: #ffffff;
	border-width: 1px;
	background-color: rgba(0, 0, 0, 0.205);
}
.buttonĐN:after {
	content: "";
	background: #d3d3d3;
	display: flex;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	left: 0;
	bottom: 0;
	opacity: 0;
	transition: all 0.8s;
}
.buttonĐN:active:after {
	padding: 0;
	opacity: 1;
	transition: 0s;
}

.buttonĐK {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	height: 50px;
	width: 300px;
	border-radius: 25px;
	border-color: #ffffff;
	border-width: 1px;
	background-color: rgba(255, 255, 255, 0.205);
}

.buttonĐK:after {
	content: "";
	background: #1b1b1b;
	display: flex;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	left: 0;
	bottom: 0;
	opacity: 0;
	transition: all 0.8s;
}

*:focus {
	outline: 0 !important;
}
.buttonĐK:active:after {
	padding: 0;
	opacity: 1;
	transition: 0s;
}


.modal-header {
  background-image: url("ảnh/e77bd588b3ac0dbfd5eaf4d75f314c33-1465900168011.jpg");
  background-color: #feb47f;
  background-blend-mode: multiply;
  height: 75px;
}

.modal-body{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#351c4d6e, #ff7f5f6e);
  
}
.modal-body h3 {
color: #1f0c31;
}
